body {
    margin-top: 55px;
}

.top-nav-collapse {
    /* background-color: #3e4551; */
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.navbar-nav li {
    border-radius: 0.25rem !important;
    margin-right: 5px;
}

li.active {
    background: #fff;
}

li.active a {
    color: #333 !important;
}

.ml-2-half {
    margin-left: 2.5rem;
}

#user_manual ul {
    list-style: none;
}

#user_manual ul li {
    margin-bottom: 10px;
}

#user_manual ul li::after {
    content: "";
    display: block;
    height: 5px;
    background: white;
    margin-top: 10px;
}

#category .view {
    height: 225px !important;
}

#category .view img {
    height: 100% !important;
    object-fit: cover;
}

#profile .left h5,
#profile .left p {
    margin-bottom: 5px;
}

#profile .right h5,
#profile .right p {
    margin-bottom: 5px;
}

#profile .right .title {
    width: 200px;
}

.prof-img {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.prof-img img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    min-width: 100%;
    max-width: 115%;
    justify-self: center;
}

@media (max-width: 768px) {
    #profile .left {
        padding-left: 15px !important;
    }
    .resp-sm {
        width: 70% !important;
    }
    #space {
        display: none;
    }
}

.resp-sm {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0;
    padding-top: 56px;
    left: -100%;
    overflow: hidden;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
    z-index: 500;
    position: fixed;
}

.togglesidebar {
    left: 0 !important;
}

#space {
    width: 0;
    transition: width 0.3s;
}

.togglespace {
    width: 250px !important;
}

.tab-panel {
    display: none;
}

.show-tab {
    display: block !important;
}

.dashboard .card {
    min-height: 226px;
    margin-bottom: 10px;
}

.dashboard .card-title {
    color: #fff !important;
}

#sidebar .link {
    padding: 0.5rem;
}

#sidebar .link a {
    color: #fff;
}

#sidebar .link.active {
    background: #fff;
}

#sidebar .link.active a {
    color: #333;
}
