body {
    margin-top: 55px;
}

.top-nav-collapse {
    /* background-color: #3e4551; */
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.navbar-nav li {
    border-radius: 0.25rem !important;
    margin-right: 5px;
}

li.active {
    background: #fff;
}

li.active a {
    color: #333 !important;
}

.ml-2-half {
    margin-left: 2.5rem;
}

#user_manual ul {
    list-style: none;
}

#user_manual ul li {
    margin-bottom: 10px;
}

#user_manual ul li::after {
    content: "";
    display: block;
    height: 5px;
    background: white;
    margin-top: 10px;
}

#category .view {
    height: 225px !important;
}

#category .view img {
    height: 100% !important;
    object-fit: cover;
}

#profile .left h5,
#profile .left p {
    margin-bottom: 5px;
}

#profile .right h5,
#profile .right p {
    margin-bottom: 5px;
}

#profile .right .title {
    width: 200px;
}

.prof-img {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.prof-img img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    min-width: 100%;
    max-width: 115%;
    justify-self: center;
}

@media (max-width: 768px) {
    #profile .left {
        padding-left: 15px !important;
    }
}
